.row {
    display: grid;
    gap: 15px;
    margin: 40px 0;
}

/* Media Query Desktop/Tablet/Smartphone */
@media (min-width: 480px) {
    .row {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 780px) {
    .row {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 980px) {
    .row {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1280px) {
    .row {
        grid-template-columns: repeat(5, 1fr);
    }
}