.box-title,
.box-sub-title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.box-sub-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #595143;
}

h2,
h3 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 20px 0;
  font-size: 30px;
}

h3 {
  color: #595143;
}

.load-more-container {
  display: flex;
  justify-content: center;
}
