.jumbotron {
    width: 100%;
    height: 500px;
    position: relative;
    background-image: url(../../assets/Jumbotron-image.jpg);
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.jumbotron::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    filter: brightness(0.5);
    z-index: -1;
}

.jumbotron img {
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    object-fit: cover;
}

.jumbotron .main-title {
    text-transform: uppercase;
    color: #fff;
    font-size: 50px;
    font-weight: 800;
    line-height: 75px;
}